html {
    --content: #000000;
    --boxes: #F2B885;
    --background: #f0efef;
    --border: #40312C;
    --margin: #D9D7D7;

    background-color: var(--margin);
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--content);
    background-color: var(--background);
    height: 150vh;
    width: 60rem;
    margin: 0 auto;
    border: 0.1rem solid var(--border);
}

body > * > * {
    margin: 0 3rem;
}

main {
    margin-top: 3rem;
}

header {
    background-color: #ffe44b;
    height: auto;
    box-shadow: 0px 10px 5px -5px hsl(19, 80%, 30%);
}

h1 {
    color: hsl(19, 80%, 30%);
    margin: 0;
    text-align: center;
    font-size: 2.6em;
}

p {
    text-align: justify;
}

h2, h3 {
    color: hsl(19, 90%, 35%);
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 1rem 0;
}

header a {
    color: rgb(214, 94, 39);
    font-size: 2rem;
    background-color: white;
    border-radius: 0.6rem;
    box-shadow: 2px 2px 5px 0px hsl(19, 80%, 30%);
    padding: 0 1rem;
    text-decoration: none;
}

header a:hover {
    background-color: rgb(214, 94, 39);
    color: white;
    transition: all 0.5s;
}

footer {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    height: min-content;
}

footer * {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
   
}

#icon-bar {
    margin-top: 0.2em;
}

#copyright {
    margin-top: 1em;
}

.fa {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0 0.5rem;
    width: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  #contactUs * {
      text-align: center;
  }
#contactPicture {
    position: relative;
    width: 50%; 
}
#contactPicture > img {
width: 100%;
border: 0.2em solid #a0e0ae;
box-shadow: 3px 3px 10px 0px #a0e0ae;
}
.row {
    display: flex;
    flex-direction: row;
}
#contactForm {
    max-width: 50%;
}
#contactForm * {
    width: 100%;
}
#contactForm >* {
    padding-left: 15%;
}
/*------about section--------*/
.kitchen {
    height: 250px;
    width: 100%;
}
.team {
    margin-top: 50px;
}
.about-team {
    margin-top: 30px;
    text-align: center;
}

.column {
    float: left;
    width: 45%;
    padding: 0 10px;
  }

.row {
    margin: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card-img {
    width: 70%;
}

#footer {
    background-color: rgb(241, 241, 97);
    padding: 10px;
    height: 80px;
}
.position {
    font-weight: 900;
}