* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --content-width: 70rem;
}

img {
  max-width: 100%;
}

h2,
h3 {
  color: hsl(19, 90%, 35%);
}

@media screen and (max-width: 70rem) {
  :root {
    --content-width: 100%;
  }
}

html {
  background-color: #d9d7d7;
  font-size: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  color: #000000;
  background-color: #f0efef;
  min-height: 100vh;
  height: 100%;
  width: var(--content-width);
  margin: 0 auto;
  border: 0.1rem solid #40312c;
  border-top: 0;
  border-bottom: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

body > * {
  padding: 0 4%;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffe44b;
  box-shadow: 0px 5px 5px -5px hsl(19, 80%, 30%);
}

header > h1 {
  color: hsl(19, 80%, 30%);
  text-align: center;
  font-size: 2.6em;
}

header > nav {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

header .nav-item {
  color: rgb(214, 94, 39);
  font-size: 2rem;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 2px 2px 5px 0px hsl(19, 80%, 30%);
  padding: 0 1rem;
}

header .nav-item > a {
  color: rgb(214, 94, 39);
  text-decoration: none;
}

header .nav-item:hover {
  background-color: rgb(214, 94, 39);
  transition: all 0.5s;
}

header .nav-item:hover > a {
  color: white;
  transition: all 0.5s;
}

main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main article {
  background-color: white;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px 0px hsla(19, 80%, 30%, 0.4);
}

#contactArea {
  position: relative;
  width: 100%;
  height: max-content;
}

#contactArea {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
}

#contactArea>img {
  width:100%;
 object-fit: cover;
 border-radius: 1rem;
}

#contactArea>#contactForm {
  color: rgb(214, 94, 39);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px 0px hsla(19, 80%, 30%, 0.4);
  z-index: 2;
}

#contactArea>#contactForm * {
  width:100%
}

#contactArea>#contactForm>#subject{
  position: relative;
}

#contactArea>#contactForm>#subject>textarea{
  max-width: 100%;
  min-width: 100%;
}

.card figure {
  width: 100%;
  height: auto;
}

.card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px 0px hsla(19, 80%, 30%, 0.4);
}

.card h2 {
  text-align: center;
  margin-bottom: 1rem;
}

#team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
}

main section {
  margin-bottom: 1rem;
}

main p {
  text-align: justify;
  margin: 0.5rem 0;
}

footer {
  max-height: min-content;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #ffe44b;
  box-shadow: 0px -5px 5px -5px hsl(19, 80%, 30%);
}

footer > * {
  display: flex;
  flex-direction: column;
}

footer > * > * {
  margin-top: auto;
}

footer .fa {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0 0.5rem;
  width: 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

footer .fa:hover {
  opacity: 0.7;
}

footer .fa-facebook {
  background: #3b5998;
  color: white;
}

footer .fa-twitter {
  background: #55acee;
  color: white;
}

footer .fa-google {
  background: #dd4b39;
  color: white;
}

footer .fa-linkedin {
  background: #007bb5;
  color: white;
}

footer .fa-youtube {
  background: #bb0000;
  color: white;
}
